body{
    min-height: 100vh; /*vh = viewport height*/
    background-color: aliceblue;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.img-snake{
    height: 300px;
    width: 300px;
}


